$blue: #03a9f4;
$blue-opt2: #42b6ea;
$red: #e51748;
$green: #95d623;
$purple: #b64ce2;
$yellow: #e9c003;
$orange: #e96403;
$steelblue: #5388bf;
$lightsteelblue: #81b1e4;
$darkgrey: #323232;
$lightgrey: #bbbbbb;
$verylightgrey: #e6e6e6;

$soft-shadow: 0px 2px 5px 0px rgba(0,0,0,0.26);
$hard-shadow: 0px 3px 0px 3px rgba(0,0,0,0.3);

